@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100;400&display=swap");

@font-face {
  font-family: "DelvonDemo";
  src: url("./assets/fonts/delvonDemo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$main-font: "Montserrat", serif;
$background-Navbar: #000000;
$background-Main: #212020;
$background-Question: #1b355f;
$background-Buttons: #d9d9d9;
$mainColor-Text: #ffffff;
$secondColor-Text: #000000;
$rightAnswer-Color: #236a1d;
$wrongAnswer-Color: #e90000;
$diamond-Color: #ffffff;
$gold-Color: #ffd700;
$silver-Color: #c0c0c0;
$bronze-Color: #cd7f32;
$iron-Color: #706f6f;
$chocolate-Color: #8b5a2b;
