* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $background-Main;
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Utilisez vh (viewport height) au lieu de % */
}

.page-container {
  min-height: 87vh;
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  position: sticky;
  bottom: 0; /* Cela positionne le footer en bas de la page */
  width: 100%; /* Assurez-vous que le footer s'étend sur toute la largeur de la page */
}
